$backgroundColor: #fff;
$almond:#eece1a;
$primaryColor: #444;
$backgroundOpacity: 0.8;
$fontColor: #f1f1f1;

// background img
$show-home-img: true;
$home-img: url('../img/pexels-photo-2565919.jpeg');